<div class="modal-header">
    <h5 class="modal-title">
        {{ isEditMode ? 'Editar' : 'Nuevo' }}
        {{
        type === 'tax_type' ? 'tipo de Impuesto'
        : type === 'amortization_type' ? 'tipo de Amortización'
        : type === 'service_quota' ? 'tipo de Cargo por servicio'
        : type === 'other_discounts' ? 'tipo de Descuento'
        : type === 'document_type' ? 'tipo de Documento'
        : type === 'insurance' ? 'tipo de Seguro'
        : ''
        }}
    </h5>
    <button type="button" class="btn-close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <p *ngIf="errorMessage" class="fs-14 text-danger">{{ errorMessage }}</p>

    <form #form="ngForm" (ngSubmit)="save(form)">

        <div class="mb-3" *ngIf="type === 'amortization_type'">
            <label>Código <span class="required">*</span></label>
            <input type="text" class="form-control text-uppercase" [(ngModel)]="code" name="code" required
                [ngClass]="{ 'is-invalid': submitted && form.submitted && form.controls['code']?.invalid }" />
            <div class="invalid-feedback" *ngIf="submitted && form.controls['code']?.errors?.['required']">
                Campo obligatorio
            </div>
        </div>

        <div class="mb-3">
            <label>Nombre <span class="required">*</span></label>
            <input type="text" class="form-control text-uppercase" [(ngModel)]="name" name="name" required
                [ngClass]="{ 'is-invalid': submitted && form.submitted && form.controls['name']?.invalid }" />
            <div class="invalid-feedback" *ngIf="submitted && form.controls['name']?.errors?.['required']">
                Campo obligatorio
            </div>
        </div>

        <div class="mb-3"
            *ngIf="type === 'tax_type' || type === 'service_quota' || type === 'other_discounts' || type === 'document_type' || type === 'insurance'">
            <label>Descripción</label>
            <input type="text" class="form-control text-uppercase" [(ngModel)]="description" name="description" />
        </div>

        <div class="mb-3"
            *ngIf="type === 'tax_type' || type === 'amortization_type' || type === 'service_quota' || type === 'other_discounts' || type === 'insurance'">
            <label>Procedimiento </label>
            <input type="text" class="form-control text-uppercase" [(ngModel)]="procedure" name="procedure" readonly
                [ngClass]="{ 'is-invalid': submitted && form.submitted && form.controls['procedure']?.invalid }" />
            <div class="invalid-feedback" *ngIf="submitted && form.controls['procedure']?.errors?.['required']">
                Campo obligatorio
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
            <button class="btn btn-primary me-1" type="submit" [disabled]="loading">
                {{ loading ? 'Guardando...' : (isEditMode ? 'Actualizar' : 'Crear') }}
            </button>
        </div>
    </form>
</div>


<!-- Alerta de éxito -->
<ng-template #successAlert let-modal>
    <div class="modal-filled bg-success">
        <div class="modal-body p-4 text-center">
            <i class="ti ti-check h1"></i>
            <h4 class="mt-2">{{ successMessage || '¡Bien hecho!' }}</h4>
            <p class="mt-3">{{ successDetails || 'Operación realizada correctamente' }}</p>
            <button (click)="onSuccessContinue(modal)" type="button" class="btn btn-light my-2">Continuar</button>
        </div>
    </div>
</ng-template>

<!-- Alerta de error -->
<ng-template #errorAlert let-modal>
    <div class="modal-filled bg-danger">
        <div class="modal-body p-4 text-center text-white">
            <i class="ti ti-alert-circle h1"></i>
            <h4 class="mt-2">Ocurrió un error</h4>
            <p class="mt-3">{{ lastErrorMessage }}</p>
            <button (click)="modal.dismiss()" type="button" class="btn btn-light my-2">Cerrar</button>
        </div>
    </div>
</ng-template>