<div class="modal-header bg-dark">
  <h5 class="modal-title  text-white">Informacion de contacto</h5>
  <button type="button" class="btn-close btn-close-white" (click)="close()" aria-label="Close"></button>
</div>

<div class="row">
  <div class="col-xl-4 col-lg-10">
    <app-person-info
      [person]="personData"
      (saved)="onContactSaved()">
    </app-person-info>
  </div>

  <div class="col-xl-8 col-lg-12">
    <app-list-contact-info [person]="personData"></app-list-contact-info>
  </div>
</div>
