<div class="modal-header">
  <h5 class="modal-title">{{ personData?.id ? 'Editar' : 'Registrar' }} Asesor</h5>
  <button type="button" class="btn-close" (click)="cancel()"></button>
</div>

<div class="modal-body">
  <p *ngIf="errorMessage" class="fs-14 text-danger">{{ errorMessage }}</p>

  <form [formGroup]="form" class="row">
    <div class="col-lg-9">
      <div class="card">
        <div class="card-header border-bottom border-dashed">
          <h4 class="card-title mb-0">Información Básica</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 mb-3">
              <label class="form-label">Primer nombre <span class="required">*</span></label>
              <input formControlName="firstName" type="text" class="form-control text-uppercase"
                [ngClass]="{ 'is-invalid': submitted && form.get('firstName')?.invalid }">
              <div class="invalid-feedback" *ngIf="submitted && form.get('firstName')?.errors?.['required']">
                Campo obligatorio
              </div>
            </div>

            <div class="col-lg-3 mb-3">
              <label class="form-label">Segundo nombre</label>
              <input formControlName="secondName" type="text" class="form-control text-uppercase"
                [ngClass]="{ 'is-invalid': submitted && form.get('secondName')?.invalid }">
              <div class="invalid-feedback" *ngIf="submitted && form.get('secondName')?.errors?.['required']">
                Campo obligatorio
              </div>
            </div>

            <div class="col-lg-3 mb-3">
              <label class="form-label">Primer apellido <span class="required">*</span></label>
              <input formControlName="firstSurname" type="text" class="form-control text-uppercase"
                [ngClass]="{ 'is-invalid': submitted && form.get('firstSurname')?.invalid }">
              <div class="invalid-feedback" *ngIf="submitted && form.get('firstSurname')?.errors?.['required']">
                Campo obligatorio
              </div>
            </div>

            <div class="col-lg-3 mb-3">
              <label class="form-label">Segundo apellido</label>
              <input formControlName="secondSurname" type="text" class="form-control text-uppercase"
                [ngClass]="{ 'is-invalid': submitted && form.get('secondSurname')?.invalid }">
              <div class="invalid-feedback" *ngIf="submitted && form.get('secondSurname')?.errors?.['required']">
                Campo obligatorio
              </div>
            </div>

            <div class="col-lg-12 mb-3">
              <label class="form-label">Nombre completo</label>
              <input formControlName="fullName" type="text" class="form-control" readonly>
            </div>

            <div class="col-lg-4 mb-3">
              <label class="form-label">Tipo de documento <span class="required">*</span></label>
              <select class="form-control form-select"
                [ngClass]="{ 'is-invalid': submitted && form.get('secondSurname')?.invalid }"
                name="choices-single-default" id="choices-single-default" formControlName="documentType">
                <option value="">Seleccione</option>
                <option *ngFor="let type of documentTypes" [value]="type.id">
                  {{ type.name }}
                </option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && form.get('documentType')?.errors?.['required']">
                Campo obligatorio
              </div>
            </div>

            <div class="col-lg-4 mb-3">
              <label class="form-label">Número de documento <span class="required">*</span></label>
              <input formControlName="identification" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && form.get('identification')?.invalid }">
              <div class="invalid-feedback" *ngIf="submitted && form.get('identification')?.errors?.['required']">
                Campo obligatorio
              </div>
            </div>

            <div class="col-lg-4 mb-3">
              <label class="form-label">Género <span class="required">*</span></label>
              <select class="form-control form-select" formControlName="gender">
                <option value="">Seleccione</option>
                <option *ngFor="let type of genderGlotypes" [value]="type.id">
                  {{ type.name }}
                </option>
              </select>
            </div>



            <div class="col-lg-6 mb-3">
              <label class="form-label">Ocupación <span class="required">*</span></label>
              <input formControlName="occupation" type="text" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && form.get('occupation')?.invalid }">
              <div class="invalid-feedback" *ngIf="submitted && form.get('occupation')?.errors?.['required']">
                Campo obligatorio
              </div>
            </div>

            <div class="col-lg-12 mb-3">
              <label class="form-label">Observaciones</label>
              <textarea formControlName="description" class="form-control" rows="3"></textarea>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-header border-bottom border-dashed">
          <h4 class="card-title mb-0">Foto de perfil</h4>
        </div>
        <div class="card-body">
          <div class="col-12">
            <FileUploader [showPreview]="true" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
  <button class="btn btn-primary me-1" (click)="savePerson()">{{ personData?.id ? 'Editar' : 'Registrar' }}</button>
</div>

<!-- ALERTA DE ÉXITO -->
<ng-template #successalert let-modal id="success-alert-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-filled bg-success">
    <div class="modal-body p-4">
      <div class="text-center">
        <i class="ti ti-check h1"></i>
        <h4 class="mt-2">¡Bien hecho!</h4>
        <p class="mt-3">{{ successDetails }}</p>
        <button (click)="onSuccessContinue(modal)" type="button" class="btn btn-light my-2"
          data-bs-dismiss="modal">Continuar</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- ALERTA DE ERROR -->
<ng-template #erroralert let-modal id="error-alert-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-filled bg-danger">
    <div class="modal-body p-4">
      <div class="text-center text-white">
        <i class="ti ti-alert-circle h1"></i>
        <h4 class="mt-2">Ocurrió un error</h4>
        <p class="mt-3">{{ lastErrorMessage || 'No se pudo crear la persona. Intenta nuevamente.' }}</p>
        <button (click)="modal.dismiss()" type="button" class="btn btn-light my-2"
          data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</ng-template>