<h3 class="fw-semibold text-dark mb-2">Inicio de Sesión</h3>

<p class="text-white mb-4">Ingrese su usuario y contraseña para iniciar sesión.</p>

<!--<third-party-login/>-->

<!-- <p class="fs-13 fw-semibold">Or Login With Email</p> -->

<!--<p *ngIf="errorMessage.length>0" class="fs-14 text-danger">{{ errorMessage }}</p>-->

<div *ngFor="let alert of alertData" class="alert alert-{{alert.variant}} alert-dismissible fade show" role="alert">
  <i class="bi bi-{{alert.icon}} me-2"></i>
  {{alert.message}}
  <button type="button" class="btn-close" (click)="alertData = []" aria-label="Close"></button>
</div>

<form [formGroup]="signInForm" class="text-start mb-3">
  <div class="text-dark mb-3">
    <label class="form-label" for="example-username">Usuario</label>
    <input formControlName="username" type="text" id="example-username" class="form-control"
      placeholder="Ingresa tu usuario" [ngClass]="{ 'is-invalid': formValues?.['username'].errors }">
  </div>

  <div class="text-dark mb-3">
    <label class="form-label" for="example-password">Contraseña</label>

    <div class="input-group">
      <input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="example-password"
        class="form-control" placeholder="Ingresa tu contraseña"
        [ngClass]="{ 'is-invalid': formValues?.['password'].errors }" />
      <button type="button" class="btn btn-light border" (click)="togglePassword()"
        style="border-left: 0; background-color: #DC3545; color: #fff;">
        <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
      </button>
    </div>

  </div>


  <!-- <div class="d-flex justify-content-between mb-3">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="checkbox-signin">
      <label class="form-check-label" for="checkbox-signin">Remember me</label>
    </div> 

    <a routerLink="/auth/recover-password" class="text-white border-bottom border-dashed">Olvide mi contraseña</a>
  </div> -->

  <div class="d-grid">
    <button class="btn btn-danger" type="button" [disabled]="!signInForm.valid || loading" (click)="login()">
      <ng-container *ngIf="!loading; else loadingTpl">Ingresar</ng-container>
      <ng-template #loadingTpl>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="visually-hidden">Loading...</span>
      </ng-template>
    </button>
  </div>

</form>

<!-- <p class="text-danger fs-14 mb-4">Don't have an account? <a routerLink="/auth/register"
                                                            class="fw-semibold text-dark ms-1">Sign Up !</a></p> -->