<page-title title="Periodos" subtitle="Actualizaciones" />

<div class="row">
  <div class="col-12">
    <div class="card">
      <div
        class="card-header d-flex align-items-center justify-content-between border-bottom border-light"
      >
        <h4 class="header-title">Periodos</h4>
      </div>

      <div class="mb-3 row align-items-center ms-3">
        <label for="period-search" class="col-sm-auto col-form-label"
          >Buscar:</label
        >
        <div class="col-6">
          <input
            id="period-search"
            class="form-control text-uppercase"
            type="text"
            placeholder="Por nombre de Periodo..."
            [(ngModel)]="searchTerm"
            (ngModelChange)="applyFilter()"
          />
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover table-nowrap mb-0">
          <thead class="table-dark bg-light-subtle">
            <tr>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Factor de conversion</th>
            </tr>
          </thead>

          <tbody>
            @for (p of filteredPeriods; track $index) {
            <tr>
              <td>{{ p.name }}</td>
              <td>{{ p.description}}</td>
              <td>{{ p.factorConversion}}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
