.text-uppercase {
  text-transform: uppercase;
}

.btn-outline-danger {
  border-color: #dc3545 !important;
  color: #dc3545 !important;
}

.btn-outline-danger:hover {
  background-color: #dc3545 !important;
  color: #fff !important;
}

span.active {
  color: #dc3545 !important
}

.snackbar-error {
  background-color: #dc3545;
  color: #fff;
}