<page-title title="Roles" subtitle="Configuracion" />
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex align-items-center justify-content-between border-bottom border-light">
                <h4 class="header-title">Roles</h4>

            </div>
            <div class="mb-3 row align-items-center ms-3">
                <label for="person-search" class="col-sm-auto col-form-label">Buscar Rol:</label>
                <div class="col-6">
                    <input id="person-search" class="form-control" type="text" placeholder="Por nombre de Rol..."
                        [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" />
                </div>
            </div>


            <div class="table-responsive">
                <table class="table table-nowrap mb-0">
                    <thead class="bg-light-subtle">
                        <tr>
                            <th>Rol</th>
                            <th>Descripcion</th>
                            <th class="text-center" style="width: 120px;">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (roles of filteredRoles; track $index) {
                        <tr>
                            <td>{{roles.rol}}</td>
                            <td>{{roles.description}}</td>

                            <td class="pe-3">
                                <div class="hstack gap-1 justify-content-center">
                                    <a (click)="openPermissionsModal(roles.id)"
                                        class="btn btn-soft-warning btn-icon btn-sm rounded-circle">
                                        <i class="ti ti-user-shield fs-4"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="30" [(page)]="page" aria-label="Default pagination" />
                </div>
            </div>
        </div>
    </div>
</div>