<div class="row row-cols-xxl-4 row-cols-md-2 row-cols-1 text-center">
  <!-- LOADING -->
  <div *ngIf="loading" class="col-12 text-center py-4">
    <div class="spinner-border text-danger" role="status">
      <span class="visually-hidden">Cargando estadísticas...</span>
    </div>
  </div>
  
  <div *ngFor="let item of statData" class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="text-muted fs-13 fs-md-13 text-uppercase fw-bold">
          {{ item.title }}
        </h5>
        <div class="d-flex align-items-center justify-content-center gap-2 my-2 py-1">
          <div class="user-img fs-42 fs-md-42 flex-shrink-0">
            <span class="avatar-title rounded-circle fs-22 fs-md-22 text-white" style="background-color: #DC3545;">
              <iconify-icon [icon]="item.icon"></iconify-icon>
            </span>
          </div>
          <h3 class="mb-0 fw-bold fs-5">{{item.count}}</h3>
        </div>
        <p class="mb-0 text-muted">
          <span class="text-{{item.variant}} me-2"></span>
        </p>
      </div>
    </div>
  </div>
</div>