apx-chart {
  display: block;
}

.table td,
.table th {
  font-size: 0.8125rem;
}

.modal-body {
  h6.text-uppercase {
    letter-spacing: 0.02em;
  }
}

.badge {
  font-weight: 600;
}

.fila-credito {
  cursor: pointer;
}